<configuration scan="true" scanPeriod="300 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>----------\n%red(%msg%n)-----------</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.apache.tomcat.util.net.NioEndpoint" level="OFF"/>
</configuration>